#categories .list .category_btn-inner img path {
    fill: red;
}

.region_btn, .gray_btn {
    background-color: #F2F2F2;
    color: #4F4F4F;
}

.photo {
    max-height: 57px;
    overflow: hidden;
}
.photo img {
    object-fit: cover;
    min-height: 57px;
}

.realized {
    display: inline-block;
    padding-left: 3px;
}

.ymaps-2-1-79-gotoymaps__container,
.ymaps-2-1-79-gototech {
    display: none !important;
}

.list-navigation-link.next {
    margin-bottom: 0;
}

.project-modal {
    z-index: 1000;
}