path {
    animation: fadeIn ease 0.3s;
}
.ymaps-2-1-79-placemark-overlay {
    animation: fadeIn ease 1s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}




.hidden {
    display: none;
}

#categories .list .category_btn-inner img path {
    fill: red;
}

.region_btn, .gray_btn {
    background-color: #F2F2F2;
    color: #4F4F4F;
}

.photo {
    max-height: 57px;
    overflow: hidden;
}
.photo img {
    object-fit: cover;
    min-height: 57px;
}

.realized {
    display: inline-block;
    padding-left: 3px;
}

.ymaps-2-1-79-gotoymaps__container,
.ymaps-2-1-79-gototech {
    display: none !important;
}

.list-navigation-link.next {
    margin-bottom: 0;
}

.project-modal {
    z-index: 1000;
}

#camera-modal .modal-content {
    padding-top: 0px !important;
}